body{
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	

	font-size:11px;
	margin-left:10px;
	margin-top:10px;
	line-height: 1.5em;

}

html{
	max-width:1600px;
}
#banner{
	padding:5px 5px 5px 5px ;
	text-align: left;
	float:left;
	vertical-align: top;
}
#banner h1{
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	color:#06c;	
	font-size:36px;
	margin-bottom:8px;
	
}